<!DOCTYPE html>
<html>
	<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="Complex.js"></script>		
	</head>
	<body>
		<nav><h3>Complex Js</h3></nav>
		<div class="row" ng-app="complex" ng-controller="complexCtrl">
      <div class="col-md-3" id="leftCol">
        <div class="well"> <h5>Functions</h5>
          <ul class="nav nav-stacked" id="sidebar">
            <li id='add' ng-click="toggle('add')" class="active"><a>Addition</a></li>
            <li id='subtract' ng-click="toggle('subtract')"><a>Subtraction</a></li>
            <li id='multiply' ng-click="toggle('multiply')"><a>Multiplication</a></li>
            <li id='divide' ng-click="toggle('divide')"><a>Division</a></li>
            <li id='pow' ng-click="toggle('pow')"><a>Power</a></li>
            <li id='sqrt' ng-click="toggle('sqrt')"><a>Square root</a></li>
          </ul>
        </div>
      </div>
 

    	<div class="col-md-9" id="add_teacher_sec">

				<div>
 
					<p ng-hide="aswitch">{{arga}}.{{operation}}({{argb}});</p>
					<p ng-hide="sqrtSwitch">sqrt({{arga}})</p>
					<p ng-hide="powerSwitch">Math.pow({{arga}},{{argb}})</p>
					<p>a : <input type="text" ng-model="arga" ng-change="calculate('{{operation}}');" placeholder="argument a">
						b : <input type="text" ng-model="argb" ng-change="calculate('{{operation}}');" ng-disabled="argswitch" placeholder="argument b"></p>
	
					<h3>Result</h3>
					<textarea ng-model="result">	
					</textarea>

				</div>
			</div>
	</div>
	</body>
	<script type="text/javascript">
		var app = angular.module('complex', []);

		var previousId = "add";
		app.controller('complexCtrl', function($scope){
			$scope.operation = 'add';
			$scope.aswitch = false;
			$scope.powerSwitch = true;
			$scope.sqrtSwitch = true;
			$scope.argswitch = false;
			$scope.toggle = function(operation) {
				$scope.aswitch = false;
				$scope.sqrtSwitch = true;
				$scope.powerSwitch = true;
				$scope.argswitch = false;
				$scope.operation = operation;
				if(operation === 'sqrt') {
					$scope.aswitch = true;
					$scope.sqrtSwitch = false;
					$scope.powerSwitch = true;
					$scope.argswitch = true;
				}
				else if(operation === 'pow') {
					$scope.powerSwitch = false;
					$scope.sqrtSwitch = true;
					$scope.aswitch = true;
				}

				var myEl = angular.element(document.querySelector('#'+previousId));
				myEl.attr('class',"");
				var myEl2 = angular.element(document.querySelector('#'+operation));
				myEl2.attr('class',"active");
				previousId = operation;
				$scope.calculate(operation);
			};

			$scope.calculate = function(operation) {				
				var a = $scope.arga;
				var b = $scope.argb;

				var result = '';
					
				var operations = ['multiply','divide','pow'];
				if(operations.indexOf(operation) > -1) {
					if(a.indexOf('i') > -1) {
						a = Complex.fromExpression(a);
					}				
					else if(a.toLowerCase() === 'e') {
						a = Math.E;
					}
					else{
						a = parseFloat(a);
					}
					if(b.indexOf('i') > -1) {
						b = Complex.fromExpression(b);
					}			
					else if(b.toLowerCase() === 'e') {
						b = Math.E;
					}
					else {
						b = parseFloat(b);
					}
				}
				else {					
					a = Complex.fromExpression($scope.arga);
					b = Complex.fromExpression($scope.argb);
				}
				if(operation === 'sqrt') {
					var a = $scope.arga;
					if($scope.arga.indexOf('i') > -1) {
						a = Complex.fromExpression($scope.arga);
					}
					else {
						a = parseFloat(a);
					}
					result = Math.sqrt(a);
					if(!result) {
						result = "Invalid expression.";
					}
				}
				//else if($scope.arga.indexOf('i') !== -1) {
					switch(operation) {
						case 'add':
							result = a.add(b);
							break;
						case 'subtract':
							result = a.subtract(b);
							break;
						case 'multiply':
							result = a.multiply(b);							
							if(!result) {
								result = "Invalid expression.";
							}
							break;
						case 'divide':
							result = a.divide(b);
							break;
						case 'pow':							
							result = Math.pow(a, b);
							break;
					}
				//}
				$scope.result = result.toString();
			};
		});
	</script>
</html>
